@import '../../settings.scss';

.btn{
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    // border: 3px solid $brown-font;
    box-shadow: 1px 2px 2px 1px $brown-font;
    color: $brown-font;
    padding: 1rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: $transition;
    // span{
    //     z-index: 1;
    //     position: relative;
    //     display: inline-block;
    // }
    &::after{
        content: '';
        position: absolute;
        top: -3px;
        left: -110%;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        background-color: $brown-font;
        // box-shadow: 0px 0px 0px 3px $brown;
        border-radius: 50px;
        z-index: -1;
        transition: $transition;
    }
    &:hover{
        &::after{
            left: -3px;
        }
        color: $white;
        cursor: pointer;
    }

}