#header {
    flex-direction: column-reverse;
}

.social-links {
    width: 15%;
}

.social-links a{
    transition: var(--transition);
}

.social-links a:hover{
    color: var(--clr-main);
    transform: scale(0.9);
}

.about-me {
    width: 50%;
}

.img {
    position: relative;
    width: 35%;
}
