body #header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    .image-container img{
        max-width: 300px;
        border-radius: 50%;
    }
    .btn-container{
        display: flex;
        flex-wrap: wrap;
    }
}