:root {
    --font-fancy: 'Pacifico', cursive;
    --font-main: 'Poppins', sans-serif;

    --clr-main: #DA51AF;
    --clr-darkest: #160811;
    --clr-dark: #833169;
    --clr-darker: #572046;
    --clr-light: #e585c7;
    --clr-lighter: #f0b9df;
    --clr-white:#fbeef7;
    --clr-comp-1: #51da7c;
    --clr-comp-2: #da9751;
    --clr-comp-3: #51dace;
    --clr-comp-4: #dac051;

    --transition: all .5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--clr-white);
    color: var(--clr-darkest);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    padding: 3px;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 5%;
}

.logo {
    font-family: var(--font-fancy);
}

.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    margin-block: 5px;
    background-color: var(--clr-comp-3);
    border-radius: 5px;
    font-size: larger;
    font-family: var(--font-fancy);
    color: var(--clr-white);
    border: 2px solid var(--clr-comp-3);
    transition: var(--transition);
}

.btn:hover{
    background-color: transparent;
    color: var(--clr-comp-3);
}

.frc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bx {
    font-size: 30px;
}